

.Table{
    display:grid;
    text-align: center;
    grid-template-columns: 400px 200px 200px auto;
    grid-column-gap: 10px;
    border:2px solid rgb(0, 37, 139);
}

.Table *{
    border-right: 3px solid black;
    height:100%;
    margin-top:-2px;
}