.contactcard{
    background-color: #cce781;
    width:50vw;
    height:30vh;
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    

}
.contacts{
   
}

.con_img {
    width:50%
}
.con_det{
    width:50%;
}
.con_img > img{
    width:100%;
    height:100%;
} 