/* .outer:nth-child(1){
    z-index:999;
}
.outer:nth-child(2){
    z-index:-1;
} */



.hmain{
    position: absolute;
    width: 100%;
    background:#150A41;
    height:100vh;
    z-index: -1;
    color:white;
}

