.revmain{
    background:#150A41;
}
.revmain > h1{
    color:white;
    text-align: center;
}
.srev > h4,h3{
    color:white;
}

.revcard{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 5%;
}
.inrev{
    width:300px;
    height:400px;
    margin-left: 10px;
    margin-bottom: 10px;
    background:rgb(14, 191, 204);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.inrev > button{
    border:0;
    width:100px;
    height:50px;
    color:white;
    background:black;
}
.inrev > *{
   text-transform: uppercase;
}

.inrev > img{
    width:300px;
    height:200px;
}
