ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    width:100%;
  }
  
  li {
    display:flex;
    flex-direction:row;
    width:100%;
    /*height:10vh;*/
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  /* replacement of li a class */
  /* li > *{
    color:white;
    margin-left:20px;
    margin-top: 10px;
    text-decoration: none;
  
  
  } */
  
  li a:hover:not(.active) {
    background-color: #111;
  }
  
  .active {
    background-color: #04AA6D;
  }