.quiz_qadd{
  width:40vw;
  height: auto;
  background: black;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  padding:5%;
  text-transform: uppercase;
}
.quiz_question > label > input{
  width:500px;
  padding: 20px;
  border:0;
  border-radius:10px;

}
.quiz_optans > label > input{
  width:100px;
  padding: 10px;
  border:0;
  border-radius:10px;

}
.quiz_options > label > input{
  width:300px;
  padding: 10px;
  border:0;
  border-radius:10px;

}

.quiz_qadd > button{
  border:0;
  height:20px;
  border-radius: 25px;
   font-family: 'Times New Roman', Times, serif;
  background: rgb(8, 218, 8);
  font-size: 16px;
  font-weight: 500;
}




































.profile{
    margin-top:7%;
    width:75%;
  }
  
  ulsn
  {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 20%;
    background-color: rgb(0, 0, 0);
    color:wheat;
    position: fixed;
    height: 100%;
    overflow: auto;
    text-align: center;
    text-transform: uppercase;
    scrollbar-width:thin;;
  }
  
  lisn a {
    display: block;
    color: rgb(255, 255, 255);
    padding: 8px 16px;
    text-decoration: none;
  }
  
  lisn a.active {
    background-color: #0a7abb;
    color: black;
  }
  
  lisn a:hover:not(.active)
  {
    background-color: #0f94e0;
    color: white;
  }
  ulsn img{
    height:auto;
  }
  
.sbook
{
  background: rgb(51, 150, 243);
  height:450px;
  padding-top:20px;
  display: flex;
  flex-direction: row;
  scrollbar-width: thin;
  overflow: scroll;
}

.dispbook
{
  background-color: rgb(3, 238, 23);
  height:450px;
  padding-top:20px;
  display: flex;
  flex-direction: column;
  scrollbar-width: thin;
  overflow: scroll;
  color:#FFFFFF;
}

.bimg
{
  height:250px;
  width:250px;
}